/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* M A S T E R */
/* Le Wrapper contient l'entièreteé de la page en flex */

body{
  margin:0;
  padding:0;
}
div#Wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* N A V I G A T I O N */

/* Police du Logo */
@font-face {
	font-family: "AlphaMonday";
	src: url('../polices/AlphaMonday.otf');
}

/* Barre de Navigation */
.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background: linear-gradient(to left, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 25%, rgba(0,212,255,0.7) 100%);*/
  background:transparent;
}

/* Logo */
.NavBar_Logo {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.Logo {
  text-align: center;
  font-family: AlphaMonday;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

/* Liens Pages */
.NavBar .NavBar_Pages {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: 10px;
}
.NavBar_Pages_Link {
  font-family: Arial;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* A C C E U I L - P R E S E N T A T I O N */

/* Entre Menu et le Footer tout est contenu dans Acceuil en flex */
.Acceuil {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.TitreAcceuil {
  text-align: center;
  font-family: Arial;
  color: black;
  font-size: 50px;
  width: 100%;
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TitreDescription {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}

.TexteDescription {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* Bouton de Mateo */
.MateoShelby {
  margin: 0 auto;
  width: 220px;
  padding: 7px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 40px;
}
.MateoShelby:hover .wave {
  top: -120px;
}
.MateoShelbyText {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 15px;
  letter-spacing: 8px;
}
.wave {
  width: 220px;
  height: 200px;
  background-color: #444857;
  box-shadow: inset 0 0 50px rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}
.wave:before, .wave:after {
  width: 200%;
  height: 200%;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-75%);
}
.wave::before {
  border-radius: 45%;
  background-color: rgba(20,20,20,1);
  animation: wave 5s linear infinite;
}
.wave::after {
  border-radius: 40%;
  background-color: rgba(20,20,20,0.5);
  animation: wave 10s linear infinite;
}
@keyframes wave {
  0% {
    transform: translate(-50%,-75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%,-75%) rotate(360deg);
  }
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* A F F I C H A G E   P R I N C I P A L   D E S   P A G E S */

/* Wrap */
.Pizza {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* T I T R E   P A R   D E F A U T */
.TitreInfo {
  text-align: center;
  font-family: Arial;
  color: black;
  font-size: 50px;
}
/* T E X T E   P A R   D E F A U T */
.TexteInfo {
  text-align: center;
  font-family: Arial;
  color: black;
  font-size: 20px;
}
.LinkInfo {
  text-align: center;
  font-family: Arial;
  color: blue;
  font-size: 20px;
}


/* T O U S   L E S   T A B L E A U X */
.Tableau {
  margin: 0 auto;
  width: 100%;
}
.Tableau_CRUD {
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
}
.Tableau_Entete {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2300d0ff' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.Tableau_TitreColonne {
  width: 120px;
  height: 40px;
  font-family: Arial;
  color: black;
  font-size: 14px;
  padding-left: 5px;
}
.Tableau_TexteColonne {
  width: 120px;
  height: 40px;
  font-family: Arial;
  color: black;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
}

/* Boutons et spécificitées des tables du crud */
.Table_thead_th_Action {
  width: 180px;
  height: 40px;
  font-family: Arial;
  color: black;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
}


/* B A T E A U X */
#FormulaireSelectionBateaux {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 10px;
}

/* P O R T S */
#FormulaireSelectionPorts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 10px;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* C O N N E X I O N   &   I N S C R I P T I O N */

/* C O N N E X I O N */
#FormulaireConnexion {
  width: 100%;
}
#Connexion {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 120px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2300d0ff' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 5px 5px;
}
.Connexion_Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.Connexion_Pass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.Config {
  margin: 0 auto;
  width: 150px;
  margin-top: 30px;
}

/* I N S C R I P T I O N */
#FormulaireInscription {
  width: 100%;
}
#Inscription {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 160px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2300d0ff' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 5px 5px;
}
.Inscription_Pseudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.Inscription_Mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.Inscription_Pass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.ConfigInscr {
  margin: 0 auto;
  width: 300px;
  margin-top: 30px;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* F O O T E R */

.Footer {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /*background: linear-gradient(to left, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 25%, rgba(0,212,255,0.7) 100%); */
}
.Footer_Creators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Footer_Creators_Text {
  text-align: center;
  font-family: Arial;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}


/*PARAMETRE DE LA VIDEO */
#pizza{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#videoacceuil{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
}

#pixelperfect{
  height: 20vh;
  width: 20vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.Titre{
  font-size: 70px;
  font-family: Bahnschrift SemiLight;
  color: rgb(0, 0, 0);
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* A D M I N */

.TextConnecte {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}




/* CSS DES TABLEAUX*/




