html {

}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

header {
	background-color: #2196f3 ;
	font-size: 20.0pt;
	text-align: center;
	color: white;
}


footer.page-footer {
	margin-top:20pt;
    bottom: 0;
    color: #fff;
	padding:5pt;
}

.blue {
    background-color: #2196f3 !important;
}


.height10{
	height:10px !important;
}

.mtop10{
	margin-top:10px;
}

.modal-label{
	position:relative;
	top:7px
}